# Ignore node_modules in all locations
node_modules/

# Ignore .env only inside frontend
frontend/.env

# Build-related
dist/
build/

# macOS junk
.DS_Store
# Do NOT push sensitive files
backend/.env
backend/import_to_firestore.py
